<section>
  <header class="main">
    <h1>Change Password</h1>
  </header>
  <h4 id="content">Reset your password.</h4>
  <form>
    <div class="row gtr-uniform">
      <div class="col-8">
        <input #oldPassword type="password" placeholder="Current password" />
      </div>
      <div class="col-8">
        <input #newPassword type="password" placeholder="New password" />
      </div>
      <div class="col-8">
        <input #confirmPassword type="password" placeholder="Confirm new password" />
      </div>
      <div class="col-8">
        <app-messages></app-messages>
      </div>
      <div class="col-8">
        <button (click)="changePassword(oldPassword.value, newPassword.value, confirmPassword.value);" type="submit"
                class="btn btn-light">
          Change
          password
        </button>
      </div>
    </div>
  </form>
</section>
