<section>
  <header class="main">
    <h1>Register</h1>
  </header>
  <h4 id="content">Create a new account.</h4>
  <form>
    <div class="row gtr-uniform">
      <div class="col-8">
        <input #username class="form-control" id="User" type="text" placeholder="User" />
      </div>
      <div class="col-8">
        <input #email class="form-control" id="Email" type="email" placeholder="Email" />
      </div>
      <div class="col-8">
        <input #password class="form-control" id="Password" type="password" placeholder="Password" />
      </div>
      <div class="col-8">
        <input #confirmPassword class="form-control" id="ConfirmPassword" type="password" placeholder="Confirm Password" />
      </div>
      <div class="col-8">
        <app-messages></app-messages>
      </div>
      <div class="col-8">
        <button (click)="registerUser(username.value, email.value, password.value, confirmPassword.value);" type="submit" class="btn btn-light">Register</button>
      </div>
    </div>
  </form>
</section>
