<div id="sidebar" class={{active}}>
  <div class="inner">

    <!-- Search -->
    <section id="search" class="alt">
      <form method="post" action="#">
        <input type="text" name="query" id="query" placeholder="Search" />
      </form>
    </section>

    <!-- Menu -->
    <nav id="menu">
      <header class="major">
        <h2>Menu</h2>
      </header>
      <ul>
        <li><a routerLink="/">Homepage</a></li>
        <li><a routerLink="/About">About</a></li>
        <li *ngIf="!show"><a routerLink="/Register">Register</a></li>
        <li *ngIf="!show"><a routerLink="/Login">Login</a></li>
        <li *ngIf="show"><a routerLink="/Manage">{{username}}</a></li>
        <li *ngIf="show"><a (click)="userLogout()" routerLink="/">Logout</a></li>
      </ul>
    </nav>
    <!-- Section -->
    <section>
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <p>Feel free to contact me and/or download or contribute to this project. I really appreciate.</p>
      <ul class="contact">
        <li class="fa-envelope-o"><a href="#">gustavo.esteves@gmail.com</a></li>
        <li class="fa-phone">(000) 000-0000</li>
        <li class="fa-home">
          1234 Somewhere Road #8254<br />
          Nashville, TN 00000-0000
        </li>
      </ul>
    </section>
    <app-footer></app-footer>
  </div>
  <a class="toggle" (click)="menuControl()"></a>
</div>
