<section>
  <header class="main">
    <h1>Login</h1>
  </header>
  <h4 id="content">Use a local account to log in.</h4>
  <form>
    <div class="row gtr-uniform">
      <div class="col-8">
        <input #email id="User" type="email" placeholder="Email" />
      </div>
      <div class="col-8">
        <input #password id="Password" type="password" placeholder="Password" />
      </div>
      <div class="col-8">
        <input data-val="true" id="RememberMe" name="RememberMe" value="true" type="checkbox" />
        <label>Remember me?</label>
      </div>
      <div class="col-8">
        <app-messages></app-messages>
      </div>
      <div class="col-8">
        <button (click)="loginUser(email.value, password.value);" type="submit" class="btn btn-light">Login</button>
      </div>
    </div>
    <hr />
    <div class="col-8">
      <a href="https://accounts.google.com/o/oauth2/auth" class="btn btn-light">
        <span class="icon fa-google-plus"> Login with Google+</span>
      </a>
    </div>
  </form>
  <div class="col-8">
    <a class="nav-link" routerLink="/ForgetPassword">Forgot your Password?</a>
  </div>
  <a class="nav-link" routerLink="/Register">Register as a new user?</a>
</section>
