<div id="wrapper">
  <div id="main">
    <div class="inner">
      <!-- Header -->
      <header id="header">
        <a routerLink="/" class="logo"><strong>ASP.Net Core Angular.io Login</strong> by Gustavo Esteves</a>
        <ul class="icons">
          <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
          <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
        </ul>
      </header>
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-navmenu></app-navmenu>
</div>
